<% if notice %>
<div class="alert alert-error">
	<%= notice %>
</div>
<% end %>

<div class="hero-unit span6">
	<h1>Designer + Coder</h1><br>
	<p>Designer + Coder lets you hook-up sweet collaborations with the opposite skill-sex.  Find a partner to fill your skill-holes and get making.</p><br>
	<%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn btn-primary btn-large' %>
</div>