
<%= content_tag :div, notice, :class=>"alert alert-error" if flash[:notice]%>


<div class="hero-unit span10">
	<h1>Designer + Coder</h1><br>
	<p>Lets designers and programmers hook up for creative collaboration.</p><br>
	<%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn btn-primary btn-large', :id => 'sign_in' %>
</div>