<% if notice %>
<div class="alert alert-error">
	<%= notice %>
</div>
<% end %>

<div class="hero-unit span6">
	<h1>Designer + Coder</h1><br>
	<h2>Let's build something awesome.</h2>
	<p>Designer + Coder lets you hook-up sweet collaborations.  Everyone here wants to build cool stuff in their spare time.  No money changes hands.</p><br>
	<%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn btn-primary btn-large' %>
</div>