<% if @type == :designer %>
  <div class="page-header"><h1>Designer Profiles</h1></div>
<% else %>
    <div class="page-header"><h1>Coder Profiles</h1></div>
<% end %>

<%= render :partial => "profile", :collection => @profiles %>

<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>