<div class="row">
	<div class="span8 hero-unit">
		<div class="row">
			<div class="span1">
				<%= image_tag designer_profile.user.twitter_profile_image_url, :class => 'twitter_profile_image' %>
			</div>
			<div class="span7">
				<h1 class="user_name"><%= designer_profile.user.name %></h1>
				<h2><i class="icon-map-marker"></i><%= designer_profile.user.twitter_location %></h2>
				<br>
				Dribbble: <%= designer_profile.dribble_profile %>
			</div>
		</div>
	</div>
</div>
