<p id="notice"><%= notice %></p>

<p>
  <b>Dribble profile:</b>
  <%= @designer_profile.dribble_profile %>
</p>


<%= link_to 'Edit', edit_designer_profile_path(@designer_profile) %> |
<%= link_to 'Back', designer_profiles_path %>
