<hr>
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span1">
				<%= image_tag coder_profile.user.twitter_profile_image_url, :class => 'twitter_profile_image' %>
			</div>
			<div class="span7">
				<h1 class="user_name"><%= coder_profile.user.name %></h1>
				<p>I'm interested in collaborating on anything really.  Really enjoy apps to do with food.</p>
				<h4><i class="icon-map-marker"></i> <%= coder_profile.user.twitter_location %></h4>
				<i class="icon-user"></i>
			</div>
		</div>
	</div>
</div>
<hr>