<%= form_for @coder_profile, :html => { :class => 'well' } do |f| %>
  <fieldset>
    <legend>Build your coder profile</legend>


       <div class="controls">
      <div class="input-prepend">
        <span class="add-on">github.com/</span><%= f.text_field :github_profile, :class => 'span2' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', coder_profiles_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
