<div class="page-header">
<h1>Coder Profiles <small>Find yourself a code-slinging ninja!</small></h1>
</div>

<%= render :partial => "coder_profile", :collection => @coder_profiles %>

<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>